---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/liberatys/nvim_conf/git/trees/master?recursive=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"abd7c71481ac72c7e1a4a68c21bb90946e63a8cf728d1b8ba013f5fd3c1ccbaf"
      Last-Modified:
      - Thu, 13 Jan 2022 12:27:04 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '53'
      X-Ratelimit-Reset:
      - '1642347412'
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - '7'
    body:
      encoding: ASCII-8BIT
      string: '{"sha":"c040c1a5669580670f41731896f3422ca8519c3f","url":"https://api.github.com/repos/Liberatys/nvim_conf/git/trees/c040c1a5669580670f41731896f3422ca8519c3f","tree":[{"path":".github","mode":"040000","type":"tree","sha":"490eb1fbe5cf1e85e7b13d061c67e25a0bcc4c7a","url":"https://api.github.com/repos/Liberatys/nvim_conf/git/trees/490eb1fbe5cf1e85e7b13d061c67e25a0bcc4c7a"},{"path":".github/workflows","mode":"040000","type":"tree","sha":"be393e0bee777bb9c21eb204278fd22690ebd43c","url":"https://api.github.com/repos/Liberatys/nvim_conf/git/trees/be393e0bee777bb9c21eb204278fd22690ebd43c"},{"path":".github/workflows/main.yml","mode":"100644","type":"blob","sha":"05406df527b3b9e21fe309901e587a2d8d4c3ab6","size":503,"url":"https://api.github.com/repos/Liberatys/nvim_conf/git/blobs/05406df527b3b9e21fe309901e587a2d8d4c3ab6"},{"path":".gitignore","mode":"100644","type":"blob","sha":"5385782f89dda1026d91bf396caf23bb2b28b7d6","size":127,"url":"https://api.github.com/repos/Liberatys/nvim_conf/git/blobs/5385782f89dda1026d91bf396caf23bb2b28b7d6"},{"path":".rspec","mode":"100644","type":"blob","sha":"34c5164d9b56c7d528f061c97f2d2fe02c834bdd","size":53,"url":"https://api.github.com/repos/Liberatys/nvim_conf/git/b[...]
- request:
    method: get
    uri: https://api.github.com/repos/liberatys/nvim_conf/contents/Gemfile
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c147bda0aaef8caf5ddea2553a61d8fc90d46b2b"
      Last-Modified:
      - Sun, 09 Jan 2022 00:57:08 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '52'
      X-Ratelimit-Reset:
      - '1642347412'
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - '8'
    body:
      encoding: ASCII-8BIT
      string: '{"name":"Gemfile","path":"Gemfile","sha":"c147bda0aaef8caf5ddea2553a61d8fc90d46b2b","size":263,"url":"https://api.github.com/repos/Liberatys/nvim_conf/contents/Gemfile?ref=master","html_url":"https://github.com/Liberatys/nvim_conf/blob/master/Gemfile","git_url":"https://api.github.com/repos/Liberatys/nvim_conf/git/blobs/c147bda0aaef8caf5ddea2553a61d8fc90d46b2b","download_url":"https://raw.githubusercontent.com/Liberatys/nvim_conf/master/Gemfile","type":"file","content":"IyBmcm96ZW5fc3RyaW5nX2xpdGVyYWw6IHRydWUKCnNvdXJjZSAiaHR0cHM6\nLy9ydWJ5Z2Vtcy5vcmciCgojIFNwZWNpZnkgeW91ciBnZW0ncyBkZXBlbmRl\nbmNpZXMgaW4gbnZpbV9jb25mLmdlbXNwZWMKZ2Vtc3BlYwoKZ2VtICJyYWtl\nIiwgIn4+IDEzLjAiCmdlbSAicnNwZWMiLCAifj4gMy4wIgpnZW0gInN0YW5k\nYXJkIiwgIn4+IDEuMyIKZ2VtICJkcnktaW5pdGlhbGl6ZXIiCmdlbSAic2lt\ncGxlY292IiwgcmVxdWlyZTogZmFsc2UsIGdyb3VwOiA6dGVzdAo=\n","encoding":"base64","_links":{"self":"https://api.github.com/repos/Liberatys/nvim_conf/contents/Gemfile?ref=master","git":"https://api.github.com/repos/Liberatys/nvim_conf/git/blobs/c147bda0aaef8caf5ddea2553a61d8fc90d46b2b","html":"https://github.com/Liberatys/nvim_conf/blob/master/Gemfile"}}'
  recorded_at: Sun, 16 Jan 2022 15:24:53 GMT
recorded_with: VCR 6.0.0
